.owner {
    font-family: Parisienne;
    font-size: 56px;
}

.gold--text {
    color: #E6C98A;
}

.nos-casamos {
    font-family: Parisienne;
    font-size: 26px;
}

.fecha-ceremonia {
    font-family: Parisienne;
    font-size: 36px;
}

.hora-ceremonia {
    font-family: Parisienne;
    font-size: 28px;
}

.lugar-ceremonia {
    font-family: Parisienne;
    font-size: 40px;
    letter-spacing: 3px;
    color: #E6C98A;
}

.title-text {
    font-family: Parisienne;
    font-size: 40px;
}

.body-text {
    font-family: Gilda Display, seriff;
}

.contenedor {
    width: 90%;
}
