.owner {
    font-family: Parisienne;
    font-size: 56px;
}

.gold--text {
    color: #E6C98A;
}

.nos-casamos {
    font-family: Parisienne;
    font-size: 26px;
}

.title-text {
    font-family: Parisienne;
    font-size: 35px;
}

.body-text {
    font-family: Gilda Display, seriff;
}
